.page32-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page32-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
}
.page32-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.page32-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.page32-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page32-text001 {
  margin-left: var(--dl-space-space-twounits);
}
.page32-text002 {
  margin-left: var(--dl-space-space-twounits);
}
.page32-text003 {
  margin-left: var(--dl-space-space-twounits);
}
.page32-text004 {
  margin-left: var(--dl-space-space-twounits);
}
.page32-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page32-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.page32-burger-menu {
  display: none;
}
.page32-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page32-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.page32-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page32-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page32-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page32-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page32-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.page32-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page32-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page32-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page32-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page32-navlink {
  display: contents;
}
.page32-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.page32-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.page32-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page32-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page32-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page32-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 767px) {
  .page32-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page32-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .page32-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page32-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page32-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page32-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .page32-container1 {
    height: 52px;
    z-index: 1;
    border-color: #787878;
    border-width: 0px;
    background-color: var(--dl-color-gray-white);
  }
  .page32-navbar-interactive {
    top: 0px;
    left: 0px;
    right: 0px;
    padding: var(--dl-space-space-unit);
    position: absolute;
    align-items: center;
    padding-right: 16px;
    justify-content: flex-end;
  }
  .page32-desktop-menu {
    display: none;
  }
  .page32-burger-menu {
    display: flex;
  }
  .page32-mobile-menu {
    padding: 16px;
  }
  .page32-link {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    letter-spacing: 1.2px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page32-text006 {
    font-family: Arial;
  }
  .page32-link1 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page32-text008 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text009 {
    font-family: Arial;
  }
  .page32-text010 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-link2 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page32-text011 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text012 {
    font-family: Arial;
  }
  .page32-text013 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-link3 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page32-text014 {
    font-family: MarugameHonmaruGothicMini;
    letter-spacing: 16px;
  }
  .page32-text015 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text016 {
    font-family: Arial;
  }
  .page32-text017 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text018 {
    font-family: Arial;
  }
  .page32-text019 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-image {
    top: -3px;
    left: 10px;
    right: 0px;
    width: 65px;
    height: 58px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .page32-container2 {
    height: 52px;
    margin-top: var(--dl-space-space-sixunits);
    border-width: 0px;
  }
  .page32-text020 {
    margin-left: 12px;
  }
  .page32-text021 {
    color: var(--dl-color-gray-500);
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text022 {
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-container3 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page32-text024 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text025 {
    letter-spacing: 1.3px;
  }
  .page32-text026 {
    letter-spacing: 1.3px;
  }
  .page32-text029 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text032 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text035 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text038 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text041 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text044 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text047 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text050 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text053 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text056 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text059 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text062 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text065 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text068 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text071 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text074 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text077 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text080 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text083 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text087 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text088 {
    letter-spacing: 1.3px;
  }
  .page32-text092 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text095 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text098 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text101 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text104 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text107 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text110 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text113 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text116 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text119 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text122 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text125 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text128 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text131 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text134 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text137 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text140 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text143 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text146 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text149 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text153 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text155 {
    font-family: Arial;
  }
  .page32-text160 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-container4 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page32-text164 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text166 {
    font-family: Arial;
  }
  .page32-text171 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text174 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text177 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text180 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text183 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text186 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text189 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text192 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text195 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text198 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text201 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text204 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text207 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text210 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text213 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text216 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text220 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text225 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text228 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text231 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text234 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text237 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text240 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text243 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text246 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text249 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text252 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text255 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text258 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text261 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text264 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text267 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text270 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text273 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text276 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text279 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text282 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text285 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text288 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text291 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text294 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text297 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text300 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text303 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text306 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text309 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text312 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text315 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text318 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text321 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text324 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text328 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text333 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text336 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text339 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text342 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text345 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text348 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text351 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text354 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text357 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text360 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-container5 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page32-text364 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text369 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text372 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text375 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text378 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text381 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text384 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text387 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text390 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text393 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text396 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text399 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text403 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text405 {
    font-family: Arial;
  }
  .page32-text410 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text413 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text416 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text419 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text422 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text425 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text428 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text431 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text434 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text437 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text441 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text446 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text449 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text452 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text455 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text458 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text461 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text464 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text467 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text470 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text473 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text476 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text479 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text482 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text485 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text488 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text491 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text494 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text497 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text500 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text503 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-container6 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .page32-text507 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text512 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text515 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text518 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text521 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text524 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text527 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text530 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text533 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text536 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text539 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text542 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text545 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text548 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text551 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text554 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text557 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text560 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text563 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text566 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text569 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text572 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text575 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text578 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text581 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text585 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text587 {
    font-family: Arial;
  }
  .page32-text592 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text595 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text598 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text601 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text604 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text607 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text610 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text613 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text616 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text619 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text622 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text625 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text628 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text631 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text634 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text638 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text639 {
    font-family: Arial;
  }
  .page32-text644 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text647 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text650 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text653 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text656 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text659 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page32-text662 {
    font-family: MarugameHonmaruGothicMini;
  }
}
