.page56-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page56-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
}
.page56-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.page56-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.page56-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page56-text001 {
  margin-left: var(--dl-space-space-twounits);
}
.page56-text002 {
  margin-left: var(--dl-space-space-twounits);
}
.page56-text003 {
  margin-left: var(--dl-space-space-twounits);
}
.page56-text004 {
  margin-left: var(--dl-space-space-twounits);
}
.page56-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page56-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.page56-burger-menu {
  display: none;
}
.page56-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page56-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.page56-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page56-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page56-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page56-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page56-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.page56-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page56-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page56-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page56-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page56-navlink {
  display: contents;
}
.page56-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.page56-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.page56-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page56-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page56-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page56-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 767px) {
  .page56-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page56-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .page56-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page56-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page56-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page56-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .page56-container1 {
    height: 52px;
    z-index: 1;
    border-color: #787878;
    border-width: 0px;
    background-color: var(--dl-color-gray-white);
  }
  .page56-navbar-interactive {
    top: 0px;
    left: 0px;
    right: 0px;
    padding: var(--dl-space-space-unit);
    position: absolute;
    align-items: center;
    padding-right: 16px;
    justify-content: flex-end;
  }
  .page56-desktop-menu {
    display: none;
  }
  .page56-burger-menu {
    display: flex;
  }
  .page56-mobile-menu {
    padding: 16px;
  }
  .page56-link {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    letter-spacing: 1.2px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page56-text006 {
    font-family: Arial;
  }
  .page56-link1 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page56-text008 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text009 {
    font-family: Arial;
  }
  .page56-text010 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-link2 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page56-text011 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text012 {
    font-family: Arial;
  }
  .page56-text013 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-link3 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page56-text014 {
    font-family: MarugameHonmaruGothicMini;
    letter-spacing: 16px;
  }
  .page56-text015 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text016 {
    font-family: Arial;
  }
  .page56-text017 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text018 {
    font-family: Arial;
  }
  .page56-text019 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-image {
    top: -3px;
    left: 10px;
    right: 0px;
    width: 65px;
    height: 58px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .page56-container2 {
    height: 52px;
    margin-top: var(--dl-space-space-sixunits);
    border-width: 0px;
  }
  .page56-text020 {
    margin-left: 12px;
  }
  .page56-text021 {
    color: var(--dl-color-gray-500);
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text022 {
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-container3 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page56-text024 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text025 {
    letter-spacing: 1.3px;
  }
  .page56-text026 {
    letter-spacing: 1.3px;
  }
  .page56-text029 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text032 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text035 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text038 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text041 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text044 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text047 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text050 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text053 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text056 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text059 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text062 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text065 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text068 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text071 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text074 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text077 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text080 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text083 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text087 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text088 {
    letter-spacing: 1.3px;
  }
  .page56-text092 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text095 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text098 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text101 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text104 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text107 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text110 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text113 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text116 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text119 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text122 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text125 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text128 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text131 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text134 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text137 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text140 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text143 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text146 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text149 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text153 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text155 {
    font-family: Arial;
  }
  .page56-text160 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text163 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text166 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text169 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text172 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text175 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-container4 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page56-text179 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text181 {
    font-family: Arial;
  }
  .page56-text186 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text189 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text192 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text195 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text198 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text201 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text204 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text207 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text210 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text213 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text216 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text219 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text222 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text225 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text228 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text231 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text235 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text240 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text243 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text246 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text249 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text252 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text255 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text258 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text261 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text264 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text267 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text270 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text273 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text276 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text279 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text282 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text285 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text288 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text291 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text294 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text297 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text300 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text303 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text306 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text309 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text312 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text315 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text318 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text321 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text324 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text327 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text330 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text333 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text336 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text339 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text343 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text348 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text351 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text354 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text357 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text360 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text363 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text366 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text369 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text372 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text375 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text378 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text381 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text384 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-container5 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page56-text388 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text393 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text396 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text399 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text402 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text405 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text408 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text411 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text414 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text417 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text420 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text423 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text426 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text429 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text432 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text435 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text438 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text441 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text444 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text447 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text450 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text454 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text456 {
    font-family: Arial;
  }
  .page56-text461 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text464 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text467 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text470 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text473 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text476 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text479 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text482 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text485 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text488 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text491 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text494 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text497 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text501 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text506 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text509 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text512 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text515 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text518 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text521 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text524 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text527 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text530 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text533 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text536 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text539 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text542 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text545 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text548 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text551 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text554 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text557 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text560 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text563 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-container6 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .page56-text567 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text572 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text575 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text578 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text581 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text584 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text587 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text590 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text593 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text596 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text599 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text602 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text605 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text608 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text611 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text614 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text617 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text620 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text623 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text626 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text629 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text632 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text635 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text638 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text641 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text645 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text647 {
    font-family: Arial;
  }
  .page56-text652 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text655 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text658 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text661 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text664 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text667 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text670 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text673 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text676 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text679 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text682 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text685 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text688 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text691 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text694 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text698 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text699 {
    font-family: Arial;
  }
  .page56-text704 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text707 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text710 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text713 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text716 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text719 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text722 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page56-text725 {
    font-family: MarugameHonmaruGothicMini;
  }
}
