.page34-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page34-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
}
.page34-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.page34-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.page34-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page34-text001 {
  margin-left: var(--dl-space-space-twounits);
}
.page34-text002 {
  margin-left: var(--dl-space-space-twounits);
}
.page34-text003 {
  margin-left: var(--dl-space-space-twounits);
}
.page34-text004 {
  margin-left: var(--dl-space-space-twounits);
}
.page34-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page34-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.page34-burger-menu {
  display: none;
}
.page34-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page34-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.page34-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page34-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page34-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page34-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page34-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.page34-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page34-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page34-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page34-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page34-navlink {
  display: contents;
}
.page34-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.page34-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.page34-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page34-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page34-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page34-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 767px) {
  .page34-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page34-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .page34-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page34-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page34-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page34-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .page34-container1 {
    height: 52px;
    z-index: 1;
    border-color: #787878;
    border-width: 0px;
    background-color: var(--dl-color-gray-white);
  }
  .page34-navbar-interactive {
    top: 0px;
    left: 0px;
    right: 0px;
    padding: var(--dl-space-space-unit);
    position: absolute;
    align-items: center;
    padding-right: 16px;
    justify-content: flex-end;
  }
  .page34-desktop-menu {
    display: none;
  }
  .page34-burger-menu {
    display: flex;
  }
  .page34-mobile-menu {
    padding: 16px;
  }
  .page34-link {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    letter-spacing: 1.2px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page34-text006 {
    font-family: Arial;
  }
  .page34-link1 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page34-text008 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text009 {
    font-family: Arial;
  }
  .page34-text010 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-link2 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page34-text011 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text012 {
    font-family: Arial;
  }
  .page34-text013 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-link3 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page34-text014 {
    font-family: MarugameHonmaruGothicMini;
    letter-spacing: 16px;
  }
  .page34-text015 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text016 {
    font-family: Arial;
  }
  .page34-text017 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text018 {
    font-family: Arial;
  }
  .page34-text019 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-image {
    top: -3px;
    left: 10px;
    right: 0px;
    width: 65px;
    height: 58px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .page34-container2 {
    height: 52px;
    margin-top: var(--dl-space-space-sixunits);
    border-width: 0px;
  }
  .page34-text020 {
    margin-left: 12px;
  }
  .page34-text021 {
    color: var(--dl-color-gray-500);
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text022 {
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-container3 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page34-text024 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text025 {
    letter-spacing: 1.3px;
  }
  .page34-text026 {
    letter-spacing: 1.3px;
  }
  .page34-text029 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text032 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text035 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text038 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text041 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text044 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text047 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text050 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text053 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text056 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text059 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text062 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text065 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text068 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text071 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text074 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text077 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text080 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text083 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text087 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text088 {
    letter-spacing: 1.3px;
  }
  .page34-text092 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text095 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text098 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text101 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text104 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text107 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text110 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text113 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text116 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text119 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text122 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text125 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text128 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text131 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text134 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text137 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text140 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text143 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text146 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text149 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text153 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text155 {
    font-family: Arial;
  }
  .page34-text160 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text163 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text166 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text169 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text172 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text175 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text178 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-container4 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page34-text182 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text184 {
    font-family: Arial;
  }
  .page34-text189 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text192 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text195 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text198 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text201 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text204 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text207 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text210 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text213 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text216 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text219 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text222 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text225 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text228 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text231 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text234 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text238 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text243 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text246 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text249 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text252 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text255 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text258 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text261 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text264 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text267 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text270 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text273 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text276 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text279 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text282 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text285 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text288 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text291 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text294 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text297 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text300 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text303 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text306 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text309 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text312 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text315 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text318 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text321 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text324 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text327 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text330 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text333 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text336 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text339 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text342 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text346 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text351 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text354 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text357 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text360 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text363 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text366 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text369 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text372 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text375 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text378 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text381 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-container5 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page34-text385 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text390 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text393 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text396 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text399 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text402 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text405 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text408 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text411 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text414 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text417 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text420 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text423 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text426 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text429 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text432 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text435 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text438 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text441 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text444 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text447 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text451 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text453 {
    font-family: Arial;
  }
  .page34-text458 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text461 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text464 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text467 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text470 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text473 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text476 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text479 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text482 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text485 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text488 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text492 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text497 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text500 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text503 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text506 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text509 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text512 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text515 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text518 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text521 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text524 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text527 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text530 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text533 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text536 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text539 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text542 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text545 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text548 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text551 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text554 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-container6 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .page34-text558 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text563 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text566 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text569 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text572 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text575 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text578 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text581 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text584 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text587 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text590 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text593 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text596 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text599 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text602 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text605 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text608 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text611 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text614 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text617 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text620 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text623 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text626 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text629 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text632 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text636 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text638 {
    font-family: Arial;
  }
  .page34-text643 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text646 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text649 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text652 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text655 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text658 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text661 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text664 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text667 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text670 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text673 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text676 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text679 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text682 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text685 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text689 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text690 {
    font-family: Arial;
  }
  .page34-text695 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text698 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text701 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text704 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text707 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text710 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text713 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text716 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page34-text719 {
    font-family: MarugameHonmaruGothicMini;
  }
}
