.page25-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page25-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
}
.page25-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.page25-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.page25-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page25-text001 {
  margin-left: var(--dl-space-space-twounits);
}
.page25-text002 {
  margin-left: var(--dl-space-space-twounits);
}
.page25-text003 {
  margin-left: var(--dl-space-space-twounits);
}
.page25-text004 {
  margin-left: var(--dl-space-space-twounits);
}
.page25-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page25-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.page25-burger-menu {
  display: none;
}
.page25-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page25-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.page25-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page25-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page25-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page25-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page25-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.page25-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page25-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page25-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page25-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page25-navlink {
  display: contents;
}
.page25-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.page25-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.page25-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page25-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page25-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page25-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 767px) {
  .page25-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page25-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .page25-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page25-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page25-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page25-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .page25-container1 {
    height: 52px;
    z-index: 1;
    border-color: #787878;
    border-width: 0px;
    background-color: var(--dl-color-gray-white);
  }
  .page25-navbar-interactive {
    top: 0px;
    left: 0px;
    right: 0px;
    padding: var(--dl-space-space-unit);
    position: absolute;
    align-items: center;
    padding-right: 16px;
    justify-content: flex-end;
  }
  .page25-desktop-menu {
    display: none;
  }
  .page25-burger-menu {
    display: flex;
  }
  .page25-mobile-menu {
    padding: 16px;
  }
  .page25-link {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    letter-spacing: 1.2px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page25-text006 {
    font-family: Arial;
  }
  .page25-link1 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page25-text008 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text009 {
    font-family: Arial;
  }
  .page25-text010 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-link2 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page25-text011 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text012 {
    font-family: Arial;
  }
  .page25-text013 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-link3 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page25-text014 {
    font-family: MarugameHonmaruGothicMini;
    letter-spacing: 16px;
  }
  .page25-text015 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text016 {
    font-family: Arial;
  }
  .page25-text017 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text018 {
    font-family: Arial;
  }
  .page25-text019 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-image {
    top: -3px;
    left: 10px;
    right: 0px;
    width: 65px;
    height: 58px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .page25-container2 {
    height: 52px;
    margin-top: var(--dl-space-space-sixunits);
    border-width: 0px;
  }
  .page25-text020 {
    margin-left: 12px;
  }
  .page25-text021 {
    color: var(--dl-color-gray-500);
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text022 {
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-container3 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page25-text024 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text025 {
    letter-spacing: 1.3px;
  }
  .page25-text026 {
    letter-spacing: 1.3px;
  }
  .page25-text029 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text032 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text035 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text038 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text041 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text044 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text047 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text050 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text053 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text056 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text059 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text062 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text065 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text068 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text071 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text074 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text077 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text080 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text083 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text087 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text088 {
    letter-spacing: 1.3px;
  }
  .page25-text092 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text095 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text098 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text101 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text104 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text107 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text110 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text113 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text116 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text119 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text122 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text125 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text128 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text131 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text134 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text137 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text140 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text143 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text146 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text149 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text153 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text155 {
    font-family: Arial;
  }
  .page25-text160 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text163 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text166 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text169 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text172 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text175 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-container4 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page25-text179 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text181 {
    font-family: Arial;
  }
  .page25-text186 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text189 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text192 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text195 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text198 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text201 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text204 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text207 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text210 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text213 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text216 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text219 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text222 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text225 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text228 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text231 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text235 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text240 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text243 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text246 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text249 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text252 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text255 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text258 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text261 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text264 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text267 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text270 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text273 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text276 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text279 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text282 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text285 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text288 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text291 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text294 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text297 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text300 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text303 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text306 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text309 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text312 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text315 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text318 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text321 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text324 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text327 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text330 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text333 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text336 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text339 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text343 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text348 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text351 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text354 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text357 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text360 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text363 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text366 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text369 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text372 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text375 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text378 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text381 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-container5 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page25-text385 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text390 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text393 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text396 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text399 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text402 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text405 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text408 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text411 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text414 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text417 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text420 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text423 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text426 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text429 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text432 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text435 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text438 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text441 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text444 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text448 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text450 {
    font-family: Arial;
  }
  .page25-text455 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text458 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text461 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text464 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text467 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text470 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text473 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text476 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text479 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text482 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text485 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text488 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text492 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text497 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text500 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text503 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text506 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text509 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text512 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text515 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text518 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text521 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text524 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text527 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text530 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text533 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text536 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text539 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text542 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text545 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text548 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text551 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text554 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-container6 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .page25-text558 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text563 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text566 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text569 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text572 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text575 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text578 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text581 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text584 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text587 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text590 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text593 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text596 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text599 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text602 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text605 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text608 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text611 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text614 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text617 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text620 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text623 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text626 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text629 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text632 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text636 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text638 {
    font-family: Arial;
  }
  .page25-text643 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text646 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text649 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text652 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text655 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text658 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text661 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text664 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text667 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text670 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text673 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text676 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text679 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text682 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text685 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text689 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text690 {
    font-family: Arial;
  }
  .page25-text695 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text698 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text701 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text704 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text707 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text710 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text713 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page25-text716 {
    font-family: MarugameHonmaruGothicMini;
  }
}
