.page22-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page22-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
}
.page22-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.page22-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.page22-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page22-text001 {
  margin-left: var(--dl-space-space-twounits);
}
.page22-text002 {
  margin-left: var(--dl-space-space-twounits);
}
.page22-text003 {
  margin-left: var(--dl-space-space-twounits);
}
.page22-text004 {
  margin-left: var(--dl-space-space-twounits);
}
.page22-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page22-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.page22-burger-menu {
  display: none;
}
.page22-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page22-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.page22-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page22-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page22-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page22-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page22-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.page22-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page22-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page22-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page22-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page22-navlink {
  display: contents;
}
.page22-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.page22-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.page22-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page22-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page22-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page22-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 767px) {
  .page22-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page22-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .page22-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page22-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page22-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page22-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .page22-container1 {
    height: 52px;
    z-index: 1;
    border-color: #787878;
    border-width: 0px;
    background-color: var(--dl-color-gray-white);
  }
  .page22-navbar-interactive {
    top: 0px;
    left: 0px;
    right: 0px;
    padding: var(--dl-space-space-unit);
    position: absolute;
    align-items: center;
    padding-right: 16px;
    justify-content: flex-end;
  }
  .page22-desktop-menu {
    display: none;
  }
  .page22-burger-menu {
    display: flex;
  }
  .page22-mobile-menu {
    padding: 16px;
  }
  .page22-link {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    letter-spacing: 1.2px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page22-text006 {
    font-family: Arial;
  }
  .page22-link1 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page22-text008 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text009 {
    font-family: Arial;
  }
  .page22-text010 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-link2 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page22-text011 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text012 {
    font-family: Arial;
  }
  .page22-text013 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-link3 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page22-text014 {
    font-family: MarugameHonmaruGothicMini;
    letter-spacing: 16px;
  }
  .page22-text015 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text016 {
    font-family: Arial;
  }
  .page22-text017 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text018 {
    font-family: Arial;
  }
  .page22-text019 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-image {
    top: -3px;
    left: 10px;
    right: 0px;
    width: 65px;
    height: 58px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .page22-container2 {
    height: 52px;
    margin-top: var(--dl-space-space-sixunits);
    border-width: 0px;
  }
  .page22-text020 {
    margin-left: 12px;
  }
  .page22-text021 {
    color: var(--dl-color-gray-500);
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text022 {
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-container3 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page22-text024 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text025 {
    letter-spacing: 1.3px;
  }
  .page22-text026 {
    letter-spacing: 1.3px;
  }
  .page22-text029 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text032 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text035 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text038 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text041 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text044 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text047 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text050 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text053 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text056 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text059 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text062 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text065 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text068 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text071 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text074 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text077 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text080 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text083 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text087 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text088 {
    letter-spacing: 1.3px;
  }
  .page22-text092 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text095 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text098 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text101 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text104 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text107 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text110 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text113 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text116 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text119 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text122 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text125 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text128 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text131 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text134 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text137 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text140 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text143 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text146 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text149 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text153 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text155 {
    font-family: Arial;
  }
  .page22-text160 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text163 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text166 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text169 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text172 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text175 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text178 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-container4 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page22-text182 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text184 {
    font-family: Arial;
  }
  .page22-text189 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text192 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text195 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text198 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text201 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text204 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text207 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text210 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text213 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text216 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text219 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text222 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text225 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text228 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text231 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text234 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text238 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text243 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text246 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text249 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text252 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text255 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text258 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text261 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text264 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text267 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text270 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text273 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text276 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text279 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text282 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text285 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text288 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text291 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text294 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text297 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text300 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text303 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text306 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text309 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text312 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text315 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text318 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text321 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text324 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text327 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text330 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text333 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text336 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text339 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text342 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text346 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text351 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text354 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text357 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text360 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text363 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text366 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text369 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text372 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-container5 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page22-text376 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text381 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text384 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text387 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text390 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text393 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text396 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text399 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text402 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text405 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text408 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text411 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text414 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text417 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text420 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text423 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text426 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text429 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text432 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text435 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text438 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text442 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text444 {
    font-family: Arial;
  }
  .page22-text449 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text452 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text455 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text458 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text461 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text464 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text467 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text470 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text473 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text476 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text479 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text482 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text486 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text491 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text494 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text497 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text500 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text503 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text506 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text509 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text512 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text515 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text518 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text521 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text524 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text527 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text530 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text533 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text536 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text539 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text542 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text545 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text548 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-container6 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .page22-text552 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text557 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text560 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text563 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text566 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text569 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text572 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text575 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text578 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text581 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text584 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text587 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text590 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text593 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text596 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text599 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text602 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text605 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text608 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text611 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text614 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text617 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text620 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text623 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text626 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text630 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text632 {
    font-family: Arial;
  }
  .page22-text637 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text640 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text643 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text646 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text649 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text652 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text655 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text658 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text661 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text664 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text667 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text670 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text673 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text676 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text679 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text683 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text684 {
    font-family: Arial;
  }
  .page22-text689 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text692 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text695 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text698 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text701 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text704 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text707 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page22-text710 {
    font-family: MarugameHonmaruGothicMini;
  }
}
