.page31-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page31-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
}
.page31-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.page31-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.page31-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page31-text001 {
  margin-left: var(--dl-space-space-twounits);
}
.page31-text002 {
  margin-left: var(--dl-space-space-twounits);
}
.page31-text003 {
  margin-left: var(--dl-space-space-twounits);
}
.page31-text004 {
  margin-left: var(--dl-space-space-twounits);
}
.page31-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page31-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.page31-burger-menu {
  display: none;
}
.page31-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page31-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.page31-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page31-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page31-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page31-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page31-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.page31-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page31-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page31-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page31-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page31-navlink {
  display: contents;
}
.page31-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.page31-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.page31-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page31-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page31-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page31-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 767px) {
  .page31-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page31-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .page31-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page31-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page31-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page31-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .page31-container1 {
    height: 52px;
    z-index: 1;
    border-color: #787878;
    border-width: 0px;
    background-color: var(--dl-color-gray-white);
  }
  .page31-navbar-interactive {
    top: 0px;
    left: 0px;
    right: 0px;
    padding: var(--dl-space-space-unit);
    position: absolute;
    align-items: center;
    padding-right: 16px;
    justify-content: flex-end;
  }
  .page31-desktop-menu {
    display: none;
  }
  .page31-burger-menu {
    display: flex;
  }
  .page31-mobile-menu {
    padding: 16px;
  }
  .page31-link {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    letter-spacing: 1.2px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page31-text006 {
    font-family: Arial;
  }
  .page31-link1 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page31-text008 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text009 {
    font-family: Arial;
  }
  .page31-text010 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-link2 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page31-text011 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text012 {
    font-family: Arial;
  }
  .page31-text013 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-link3 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page31-text014 {
    font-family: MarugameHonmaruGothicMini;
    letter-spacing: 16px;
  }
  .page31-text015 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text016 {
    font-family: Arial;
  }
  .page31-text017 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text018 {
    font-family: Arial;
  }
  .page31-text019 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-image {
    top: -3px;
    left: 10px;
    right: 0px;
    width: 65px;
    height: 58px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .page31-container2 {
    height: 52px;
    margin-top: var(--dl-space-space-sixunits);
    border-width: 0px;
  }
  .page31-text020 {
    margin-left: 12px;
  }
  .page31-text021 {
    color: var(--dl-color-gray-500);
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text022 {
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-container3 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page31-text024 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text025 {
    letter-spacing: 1.3px;
  }
  .page31-text026 {
    letter-spacing: 1.3px;
  }
  .page31-text029 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text032 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text035 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text038 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text041 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text044 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text047 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text050 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text053 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text056 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text059 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text062 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text065 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text068 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text071 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text074 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text077 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text080 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text083 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text087 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text088 {
    letter-spacing: 1.3px;
  }
  .page31-text092 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text095 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text098 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text101 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text104 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text107 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text110 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text113 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text116 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text119 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text122 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text125 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text128 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text131 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text134 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text137 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text140 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text143 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text146 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text149 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text153 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text155 {
    font-family: Arial;
  }
  .page31-text160 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-container4 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page31-text164 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text166 {
    font-family: Arial;
  }
  .page31-text171 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text174 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text177 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text180 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text183 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text186 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text189 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text192 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text195 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text198 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text201 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text204 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text207 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text210 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text213 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text216 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text220 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text225 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text228 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text231 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text234 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text237 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text240 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text243 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text246 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text249 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text252 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text255 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text258 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text261 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text264 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text267 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text270 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text273 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text276 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text279 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text282 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text285 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text288 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text291 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text294 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text297 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text300 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text303 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text306 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text309 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text312 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text315 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text318 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text321 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text324 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text328 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text333 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text336 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text339 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text342 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text345 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text348 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text351 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text354 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text357 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text360 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-container5 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page31-text364 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text369 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text372 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text375 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text378 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text381 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text384 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text387 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text390 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text393 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text396 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text399 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text402 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text406 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text408 {
    font-family: Arial;
  }
  .page31-text413 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text416 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text419 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text422 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text425 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text428 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text431 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text434 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text437 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text440 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text444 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text449 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text452 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text455 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text458 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text461 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text464 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text467 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text470 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text473 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text476 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text479 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text482 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text485 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text488 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text491 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text494 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text497 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text500 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text503 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text506 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-container6 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .page31-text510 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text515 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text518 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text521 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text524 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text527 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text530 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text533 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text536 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text539 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text542 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text545 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text548 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text551 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text554 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text557 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text560 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text563 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text566 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text569 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text572 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text575 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text578 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text581 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text584 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text588 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text590 {
    font-family: Arial;
  }
  .page31-text595 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text598 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text601 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text604 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text607 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text610 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text613 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text616 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text619 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text622 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text625 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text628 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text631 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text634 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text637 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text641 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text642 {
    font-family: Arial;
  }
  .page31-text647 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text650 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text653 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text656 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text659 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text662 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text665 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page31-text668 {
    font-family: MarugameHonmaruGothicMini;
  }
}
