.page21-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page21-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
}
.page21-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.page21-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.page21-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page21-text001 {
  margin-left: var(--dl-space-space-twounits);
}
.page21-text002 {
  margin-left: var(--dl-space-space-twounits);
}
.page21-text003 {
  margin-left: var(--dl-space-space-twounits);
}
.page21-text004 {
  margin-left: var(--dl-space-space-twounits);
}
.page21-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page21-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.page21-burger-menu {
  display: none;
}
.page21-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page21-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.page21-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page21-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page21-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page21-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page21-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.page21-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page21-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page21-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page21-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page21-navlink {
  display: contents;
}
.page21-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.page21-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.page21-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page21-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page21-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page21-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 767px) {
  .page21-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page21-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .page21-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page21-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page21-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page21-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .page21-container1 {
    height: 52px;
    z-index: 1;
    border-color: #787878;
    border-width: 0px;
    background-color: var(--dl-color-gray-white);
  }
  .page21-navbar-interactive {
    top: 0px;
    left: 0px;
    right: 0px;
    padding: var(--dl-space-space-unit);
    position: absolute;
    align-items: center;
    padding-right: 16px;
    justify-content: flex-end;
  }
  .page21-desktop-menu {
    display: none;
  }
  .page21-burger-menu {
    display: flex;
  }
  .page21-mobile-menu {
    padding: 16px;
  }
  .page21-link {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    letter-spacing: 1.2px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page21-text006 {
    font-family: Arial;
  }
  .page21-link1 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page21-text008 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text009 {
    font-family: Arial;
  }
  .page21-text010 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-link2 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page21-text011 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text012 {
    font-family: Arial;
  }
  .page21-text013 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-link3 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page21-text014 {
    font-family: MarugameHonmaruGothicMini;
    letter-spacing: 16px;
  }
  .page21-text015 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text016 {
    font-family: Arial;
  }
  .page21-text017 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text018 {
    font-family: Arial;
  }
  .page21-text019 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-image {
    top: -3px;
    left: 10px;
    right: 0px;
    width: 65px;
    height: 58px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .page21-container2 {
    height: 52px;
    margin-top: var(--dl-space-space-sixunits);
    border-width: 0px;
  }
  .page21-text020 {
    margin-left: 12px;
  }
  .page21-text021 {
    color: var(--dl-color-gray-500);
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text022 {
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-container3 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page21-text024 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text025 {
    letter-spacing: 1.3px;
  }
  .page21-text026 {
    letter-spacing: 1.3px;
  }
  .page21-text027 {
    letter-spacing: 1.3px;
  }
  .page21-text029 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text032 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text035 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text038 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text041 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text044 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text047 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text050 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text053 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text056 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text059 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text062 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text065 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text068 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text071 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text074 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text077 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text080 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text083 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text087 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text088 {
    letter-spacing: 1.3px;
  }
  .page21-text092 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text095 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text098 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text101 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text104 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text107 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text110 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text113 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text116 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text119 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text122 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text125 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text128 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text131 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text134 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text137 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text140 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text143 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text146 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text149 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text153 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text155 {
    font-family: Arial;
  }
  .page21-text160 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text163 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text166 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text169 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text172 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text175 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text178 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-container4 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page21-text182 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text184 {
    font-family: Arial;
  }
  .page21-text189 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text192 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text195 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text198 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text201 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text204 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text207 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text210 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text213 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text216 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text219 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text222 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text225 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text228 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text231 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text234 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text238 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text243 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text246 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text249 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text252 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text255 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text258 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text261 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text264 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text267 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text270 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text273 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text276 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text279 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text282 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text285 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text288 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text291 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text294 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text297 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text300 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text303 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text306 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text309 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text312 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text315 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text318 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text321 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text324 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text327 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text330 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text333 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text336 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text339 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text342 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text346 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text351 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text354 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text357 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text360 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text363 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text366 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text369 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text372 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text375 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text378 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text381 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text384 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text387 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-container5 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page21-text391 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text396 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text399 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text402 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text405 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text408 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text411 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text414 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text417 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text420 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text423 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text426 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text429 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text432 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text435 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text438 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text441 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text444 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text447 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text450 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text454 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text456 {
    font-family: Arial;
  }
  .page21-text461 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text464 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text467 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text470 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text473 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text476 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text479 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text482 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text485 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text488 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text491 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text494 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text498 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text503 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text506 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text509 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text512 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text515 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text518 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text521 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text524 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text527 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text530 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text533 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text536 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text539 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text542 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text545 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text548 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text551 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text554 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text557 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text560 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-container6 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .page21-text564 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text569 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text572 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text575 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text578 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text581 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text584 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text587 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text590 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text593 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text596 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text599 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text602 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text605 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text608 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text611 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text614 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text617 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text620 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text623 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text626 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text629 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text632 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text635 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text638 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text642 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text644 {
    font-family: Arial;
  }
  .page21-text649 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text652 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text655 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text658 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text661 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text664 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text667 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text670 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text673 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text676 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text679 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text682 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text685 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text688 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text691 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text695 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text696 {
    font-family: Arial;
  }
  .page21-text701 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text704 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text707 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text710 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text713 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text716 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page21-text719 {
    font-family: MarugameHonmaruGothicMini;
  }
}
