.page53-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page53-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
}
.page53-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.page53-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.page53-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page53-text001 {
  margin-left: var(--dl-space-space-twounits);
}
.page53-text002 {
  margin-left: var(--dl-space-space-twounits);
}
.page53-text003 {
  margin-left: var(--dl-space-space-twounits);
}
.page53-text004 {
  margin-left: var(--dl-space-space-twounits);
}
.page53-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page53-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.page53-burger-menu {
  display: none;
}
.page53-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page53-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.page53-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page53-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page53-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page53-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page53-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.page53-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page53-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page53-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page53-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page53-navlink {
  display: contents;
}
.page53-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.page53-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.page53-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page53-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page53-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page53-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 767px) {
  .page53-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page53-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .page53-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page53-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page53-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page53-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .page53-container1 {
    height: 52px;
    z-index: 1;
    border-color: #787878;
    border-width: 0px;
    background-color: var(--dl-color-gray-white);
  }
  .page53-navbar-interactive {
    top: 0px;
    left: 0px;
    right: 0px;
    padding: var(--dl-space-space-unit);
    position: absolute;
    align-items: center;
    padding-right: 16px;
    justify-content: flex-end;
  }
  .page53-desktop-menu {
    display: none;
  }
  .page53-burger-menu {
    display: flex;
  }
  .page53-mobile-menu {
    padding: 16px;
  }
  .page53-link {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    letter-spacing: 1.2px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page53-text006 {
    font-family: Arial;
  }
  .page53-link1 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page53-text008 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text009 {
    font-family: Arial;
  }
  .page53-text010 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-link2 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page53-text011 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text012 {
    font-family: Arial;
  }
  .page53-text013 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-link3 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page53-text014 {
    font-family: MarugameHonmaruGothicMini;
    letter-spacing: 16px;
  }
  .page53-text015 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text016 {
    font-family: Arial;
  }
  .page53-text017 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text018 {
    font-family: Arial;
  }
  .page53-text019 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-image {
    top: -3px;
    left: 10px;
    right: 0px;
    width: 65px;
    height: 58px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .page53-container2 {
    height: 52px;
    margin-top: var(--dl-space-space-sixunits);
    border-width: 0px;
  }
  .page53-text020 {
    margin-left: 12px;
  }
  .page53-text021 {
    color: var(--dl-color-gray-500);
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text022 {
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-container3 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page53-text024 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text025 {
    letter-spacing: 1.3px;
  }
  .page53-text026 {
    letter-spacing: 1.3px;
  }
  .page53-text029 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text032 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text035 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text038 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text041 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text044 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text047 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text050 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text053 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text056 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text059 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text062 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text065 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text068 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text071 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text074 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text077 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text080 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text083 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text087 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text088 {
    letter-spacing: 1.3px;
  }
  .page53-text092 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text095 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text098 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text101 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text104 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text107 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text110 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text113 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text116 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text119 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text122 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text125 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text128 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text131 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text134 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text137 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text140 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text143 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text146 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text149 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text153 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text155 {
    font-family: Arial;
  }
  .page53-text160 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text163 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text166 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text169 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text172 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text175 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text178 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-container4 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page53-text182 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text184 {
    font-family: Arial;
  }
  .page53-text189 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text192 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text195 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text198 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text201 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text204 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text207 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text210 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text213 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text216 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text219 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text222 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text225 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text228 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text231 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text234 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text238 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text243 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text246 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text249 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text252 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text255 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text258 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text261 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text264 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text267 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text270 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text273 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text276 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text279 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text282 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text285 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text288 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text291 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text294 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text297 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text300 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text303 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text306 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text309 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text312 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text315 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text318 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text321 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text324 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text327 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text330 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text333 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text336 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text339 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text342 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text346 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text351 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text354 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text357 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text360 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text363 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text366 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text369 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text372 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text375 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text378 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text381 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text384 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text387 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-container5 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page53-text391 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text396 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text399 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text402 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text405 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text408 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text411 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text414 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text417 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text420 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text423 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text426 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text429 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text432 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text435 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text438 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text441 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text444 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text447 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text450 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text453 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text457 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text459 {
    font-family: Arial;
  }
  .page53-text464 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text467 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text470 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text473 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text476 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text479 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text482 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text485 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text488 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text491 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text494 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text497 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text500 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text504 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text509 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text512 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text515 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text518 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text521 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text524 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text527 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text530 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text533 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text536 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text539 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text542 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text545 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text548 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text551 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text554 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text557 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text560 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text563 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text566 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-container6 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .page53-text570 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text575 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text578 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text581 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text584 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text587 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text590 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text593 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text596 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text599 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text602 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text605 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text608 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text611 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text614 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text617 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text620 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text623 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text626 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text629 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text632 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text635 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text638 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text641 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text644 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text648 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text650 {
    font-family: Arial;
  }
  .page53-text655 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text658 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text661 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text664 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text667 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text670 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text673 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text676 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text679 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text682 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text685 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text688 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text691 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text694 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text697 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text701 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text702 {
    font-family: Arial;
  }
  .page53-text707 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text710 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text713 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text716 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text719 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text722 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page53-text725 {
    font-family: MarugameHonmaruGothicMini;
  }
}
