.page45-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page45-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
}
.page45-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.page45-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.page45-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page45-text001 {
  margin-left: var(--dl-space-space-twounits);
}
.page45-text002 {
  margin-left: var(--dl-space-space-twounits);
}
.page45-text003 {
  margin-left: var(--dl-space-space-twounits);
}
.page45-text004 {
  margin-left: var(--dl-space-space-twounits);
}
.page45-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page45-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.page45-burger-menu {
  display: none;
}
.page45-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page45-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.page45-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page45-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page45-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page45-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page45-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.page45-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page45-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page45-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page45-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page45-navlink {
  display: contents;
}
.page45-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.page45-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.page45-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page45-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page45-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page45-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 767px) {
  .page45-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page45-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .page45-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page45-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page45-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page45-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .page45-container1 {
    height: 52px;
    z-index: 1;
    border-color: #787878;
    border-width: 0px;
    background-color: var(--dl-color-gray-white);
  }
  .page45-navbar-interactive {
    top: 0px;
    left: 0px;
    right: 0px;
    padding: var(--dl-space-space-unit);
    position: absolute;
    align-items: center;
    padding-right: 16px;
    justify-content: flex-end;
  }
  .page45-desktop-menu {
    display: none;
  }
  .page45-burger-menu {
    display: flex;
  }
  .page45-mobile-menu {
    padding: 16px;
  }
  .page45-link {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    letter-spacing: 1.2px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page45-text006 {
    font-family: Arial;
  }
  .page45-link1 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page45-text008 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text009 {
    font-family: Arial;
  }
  .page45-text010 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-link2 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page45-text011 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text012 {
    font-family: Arial;
  }
  .page45-text013 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-link3 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page45-text014 {
    font-family: MarugameHonmaruGothicMini;
    letter-spacing: 16px;
  }
  .page45-text015 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text016 {
    font-family: Arial;
  }
  .page45-text017 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text018 {
    font-family: Arial;
  }
  .page45-text019 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-image {
    top: -3px;
    left: 10px;
    right: 0px;
    width: 65px;
    height: 58px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .page45-container2 {
    height: 52px;
    margin-top: var(--dl-space-space-sixunits);
    border-width: 0px;
  }
  .page45-text020 {
    margin-left: 12px;
  }
  .page45-text021 {
    color: var(--dl-color-gray-500);
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text022 {
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-container3 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page45-text024 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text025 {
    letter-spacing: 1.3px;
  }
  .page45-text026 {
    letter-spacing: 1.3px;
  }
  .page45-text029 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text032 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text035 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text038 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text041 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text044 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text047 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text050 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text053 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text056 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text059 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text062 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text065 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text068 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text071 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text074 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text077 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text080 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text083 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text087 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text088 {
    letter-spacing: 1.3px;
  }
  .page45-text092 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text095 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text098 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text101 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text104 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text107 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text110 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text113 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text116 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text119 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text122 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text125 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text128 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text131 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text134 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text137 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text140 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text143 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text146 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text149 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text153 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text155 {
    font-family: Arial;
  }
  .page45-text160 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text163 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text166 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text169 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text172 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text175 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-container4 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page45-text179 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text181 {
    font-family: Arial;
  }
  .page45-text186 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text189 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text192 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text195 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text198 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text201 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text204 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text207 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text210 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text213 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text216 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text219 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text222 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text225 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text228 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text231 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text235 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text240 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text243 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text246 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text249 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text252 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text255 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text258 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text261 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text264 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text267 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text270 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text273 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text276 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text279 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text282 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text285 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text288 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text291 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text294 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text297 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text300 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text303 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text306 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text309 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text312 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text315 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text318 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text321 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text324 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text327 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text330 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text333 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text336 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text339 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text343 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text348 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text351 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text354 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text357 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text360 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text363 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-container5 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page45-text367 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text372 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text375 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text378 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text381 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text384 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text387 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text390 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text393 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text396 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text399 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text402 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text405 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text408 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text411 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text414 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text417 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text420 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text423 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text427 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text429 {
    font-family: Arial;
  }
  .page45-text434 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text437 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text440 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text443 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text446 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text449 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text452 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text455 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text458 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text461 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text464 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text468 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text473 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text476 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text479 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text482 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text485 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text488 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text491 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text494 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text497 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text500 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text503 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text506 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text509 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text512 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text515 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text518 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text521 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text524 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text527 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text530 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-container6 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .page45-text534 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text539 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text542 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text545 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text548 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text551 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text554 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text557 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text560 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text563 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text566 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text569 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text572 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text575 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text578 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text581 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text584 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text587 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text590 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text593 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text596 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text599 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text602 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text605 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text608 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text612 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text614 {
    font-family: Arial;
  }
  .page45-text619 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text622 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text625 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text628 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text631 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text634 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text637 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text640 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text643 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text646 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text649 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text652 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text655 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text658 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text661 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text665 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text666 {
    font-family: Arial;
  }
  .page45-text671 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text674 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text677 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text680 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page45-text683 {
    font-family: MarugameHonmaruGothicMini;
  }
}
