.page42-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page42-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
}
.page42-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.page42-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.page42-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page42-text001 {
  margin-left: var(--dl-space-space-twounits);
}
.page42-text002 {
  margin-left: var(--dl-space-space-twounits);
}
.page42-text003 {
  margin-left: var(--dl-space-space-twounits);
}
.page42-text004 {
  margin-left: var(--dl-space-space-twounits);
}
.page42-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page42-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.page42-burger-menu {
  display: none;
}
.page42-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page42-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.page42-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page42-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page42-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page42-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page42-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.page42-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page42-link1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page42-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page42-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page42-navlink {
  display: contents;
}
.page42-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.page42-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.page42-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page42-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page42-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page42-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 767px) {
  .page42-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page42-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .page42-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page42-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page42-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page42-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .page42-container1 {
    height: 52px;
    z-index: 1;
    border-color: #787878;
    border-width: 0px;
    background-color: var(--dl-color-gray-white);
  }
  .page42-navbar-interactive {
    top: 0px;
    left: 0px;
    right: 0px;
    padding: var(--dl-space-space-unit);
    position: absolute;
    align-items: center;
    padding-right: 16px;
    justify-content: flex-end;
  }
  .page42-desktop-menu {
    display: none;
  }
  .page42-burger-menu {
    display: flex;
  }
  .page42-mobile-menu {
    padding: 16px;
  }
  .page42-link {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    letter-spacing: 1.2px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page42-text006 {
    font-family: Arial;
  }
  .page42-link1 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page42-text008 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text009 {
    font-family: Arial;
  }
  .page42-text010 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-link2 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page42-text011 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text012 {
    font-family: Arial;
  }
  .page42-text013 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-link3 {
    font-family: MarugameHonmaruGothicMini;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .page42-text014 {
    font-family: MarugameHonmaruGothicMini;
    letter-spacing: 16px;
  }
  .page42-text015 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text016 {
    font-family: Arial;
  }
  .page42-text017 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text018 {
    font-family: Arial;
  }
  .page42-text019 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-image {
    top: -3px;
    left: 10px;
    right: 0px;
    width: 65px;
    height: 58px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .page42-container2 {
    height: 52px;
    margin-top: var(--dl-space-space-sixunits);
    border-width: 0px;
  }
  .page42-text020 {
    margin-left: 12px;
  }
  .page42-text021 {
    color: var(--dl-color-gray-500);
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text022 {
    font-size: 40px;
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-container3 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page42-text024 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text025 {
    letter-spacing: 1.3px;
  }
  .page42-text026 {
    letter-spacing: 1.3px;
  }
  .page42-text029 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text032 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text035 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text038 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text041 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text044 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text047 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text050 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text053 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text056 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text059 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text062 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text065 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text068 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text071 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text074 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text077 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text080 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text083 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text087 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text088 {
    letter-spacing: 1.3px;
  }
  .page42-text092 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text095 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text098 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text101 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text104 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text107 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text110 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text113 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text116 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text119 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text122 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text125 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text128 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text131 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text134 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text137 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text140 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text143 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text146 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text149 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text153 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text155 {
    font-family: Arial;
  }
  .page42-text160 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text163 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text166 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text169 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text172 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text175 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-container4 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page42-text179 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text181 {
    font-family: Arial;
  }
  .page42-text186 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text189 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text192 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text195 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text198 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text201 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text204 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text207 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text210 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text213 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text216 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text219 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text222 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text225 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text228 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text231 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text235 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text240 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text243 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text246 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text249 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text252 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text255 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text258 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text261 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text264 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text267 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text270 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text273 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text276 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text279 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text282 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text285 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text288 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text291 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text294 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text297 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text300 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text303 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text306 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text309 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text312 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text315 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text318 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text321 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text324 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text327 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text330 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text333 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text336 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text339 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text343 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text348 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text351 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text354 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text357 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text360 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text363 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text366 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text369 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text372 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text375 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text378 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text381 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text384 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-container5 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .page42-text388 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text393 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text396 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text399 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text402 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text405 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text408 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text411 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text414 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text417 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text420 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text423 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text426 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text429 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text432 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text435 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text438 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text441 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text444 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text447 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text450 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text454 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text456 {
    font-family: Arial;
  }
  .page42-text461 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text464 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text467 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text470 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text473 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text476 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text479 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text482 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text485 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text488 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text491 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text494 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text497 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text501 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text506 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text509 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text512 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text515 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text518 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text521 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text524 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text527 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text530 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text533 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text536 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text539 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text542 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text545 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text548 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text551 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text554 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text557 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text560 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text563 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-container6 {
    gap: 65px;
    height: auto;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .page42-text567 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text572 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text575 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text578 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text581 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text584 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text587 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text590 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text593 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text596 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text599 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text602 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text605 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text608 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text611 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text614 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text617 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text620 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text623 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text626 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text629 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text632 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text635 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text638 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text641 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text645 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text647 {
    font-family: Arial;
  }
  .page42-text652 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text655 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text658 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text661 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text664 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text667 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text670 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text673 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text676 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text679 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text682 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text685 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text688 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text691 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text694 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text698 {
    width: 65px;
    text-align: center;
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text699 {
    font-family: Arial;
  }
  .page42-text704 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text707 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text710 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text713 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text716 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text719 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text722 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text725 {
    font-family: MarugameHonmaruGothicMini;
  }
  .page42-text728 {
    font-family: MarugameHonmaruGothicMini;
  }
}
